// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.name-carlos{
  color: black;
}
.img-circlecarlos{
	 height:500px; 
	 width:200px;
	 float: right;
    margin: 10px;
}
.bodyindex{
	background-color:rgba(76,76,76,0.27);
}
.text-carlos{
	color:black;
}
.name-video{
 color:#C70D12;
}
.name-audio{
 color:#C70D12;
}
.name-lighting{
color:#C70D12;
}
.name-setup{
color:#C70D12;
}
.name-programming{
 color:black;	
}
.name-audiovisual{
color:black;	
}
.registrationcontainer{
	float:left;
	margin-left: 20px;
}
.floatrigth{
   float:right;
   margin-left: 5px;
   margin-top: 8px;  
}
.floatrigth1{
   float:right;
   margin-left: 5px;
   margin-top: 8px;  
}
.floatrigth2{
   float:right;
   margin-left: 5px;
   margin-top: 8px;  
}








