// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.name-carlos{
  color: black;
}
.img-circlecarlos{
	 height:500px; 
	 width:200px;
	 float: right;
    margin: 10px;
}
.bodyindex{
	background-color:rgba(76,76,76,0.57);
}
.text-carlos{
	color:silver;
}
.name-video{
 color:#B73333;
}
.name-audio{
 color:#B73333;
}
.name-lighting{
color:#B73333;
}
.name-setup{
color:#B73333;
}
.name-programming{
 color:white;	
}
.name-audiovisual{
color:#B73333;	
}

