<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Carlos cardo portafolio</title>

    <!-- Bootstrap Core CSS -->
    <!--<link href="app/assets/stylesheets/bootstrap.min.css" rel="stylesheet">-->

    <!-- Custom CSS -->
    <link href="app/assets/stylesheets/half-slider.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body class="bodyindex">

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Carlos Cardo</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>

                        <a href="https://www.facebook.com/profile.php?id=530462946">facebook</a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/carlos-cardo-74830011a?trk=hp-identity-name">linkedin</a>
                    </li>
                    <li>
                        <a href="https://twitter.com/car2323">twitter</a>
                    </li>
                    <li>
                        <a href="https://github.com/car2323">github</a>
                    </li>
                    
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Half Page Image Background Carousel Header -->
    <header id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>

        <!-- Wrapper for Slides -->
        <div class="carousel-inner">
            <div class="item active">
                <!-- Set the first background image using inline CSS below. -->
                <div class="fill" style="background-image:url('cielo.jpg')"></div>
                <div class="carousel-caption">
                    <h1>Software Design</h1>
                </div>
            </div>
            <div class="item">
                <!-- Set the second background image using inline CSS below. -->
                <div class="fill" style="background-image:url('backimage2.jpeg');"></div>
                <div class="carousel-caption">
                    <h1>Team work</h1>
                </div>
            </div>
            <div class="item">
                <!-- Set the third background image using inline CSS below. -->
                <div class="fill" style="background-image:url('backimage1.jpg');"></div>
                <div class="carousel-caption">
                    <h1>Skill Programming / Coding</h1>
                </div>
            </div>
            <div class="item">
                <!-- Set the third background image using inline CSS below. -->
                <div class="fill" style="background-image:url('red.jpg');"></div>
                <div class="carousel-caption">
                    <h1>Hardware Software and Network Support</h1>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>

    </header>

    <!-- Page Content -->
    <div class="container">
                  

        <div class="row">

<%if user_signed_in?%> 
                     <a class="btn btn-primary floatrigth"href="/informations">Projects and Gallery</a>     
                     <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class:"btn btn-danger" %></t><p>
                     <a class="floatrigth"href="/users/edit">User: </a><%=current_user.email%>&nbsp</t>
                     
                  <%else%>
                     <a class="btn btn-primary floatrigth"href="/users/sign_in"> Login </a> 
                     <a class="btn btn-primary floatrigth" href="/users/sign_up"> Sign up </a> </p>
                     
                  <%end%>


            <div class="col-lg-12">
                <h1 class="name-carlos">Carlos Cardo</h1>
                <p class="text-justify text-carlos">Technically-minded Audio Visual Technician  and Software Programming Developer with 10 years of experience and exceptional skills with setting up, connecting and operating equipment for conferences, events and performances. Possesses extensive product knowledge of audiovisual and computer equipment and components. Has strong troubleshooting, improvement and repair abilities. Specializes in software development, computer network, video and audio protocols.</p>
            </div>
            <br>
            <hr>
            <div class="col-lg-12">
                <h1 class="name-programming" >Coding</h1>
                <h3><p class="name-video">Programing Language</p></h3>
                <p class="text-carlos">RUBY on Rails, JS, CSS, HTML, PHP, C, C++, PASCAL, COBOL, Visual Basic</p>
                <h3><p class="name-video">Data Base</p></h3>
                <p>MySQL,PostgreSQL, SQL Query, SQLite</p>
                <h3><p class="name-video">O/S</p></h3>
                <p>Windows 10 /Windows 8.1/ Windows 7/ Windows vista/ Windows XP, Mac OSX, Linux (Ubuntu)
                </p>
                <h3><p class="name-video">Network Skills</p></h3>
                <p>TCP/IP Networking in Microsoft & UNIX Environments LAN/WAN (routers, switchers, printers & Cat5/Cat6 wiring), Cisco IP Phones, DHCP, DNS, SharePoint, Citrix installation, Windows Active Directory</p>
                <h3><p class="name-video">Software Proficiency</p></h3>
                <p>Final Cut, Sublime Text, github desktop, Postman, MacX Video Converter Pro, sqlitebrowser, Adobe Premiere Pro, Adobe Audition, Flash, Fireworks, Dreamweaver, LiveType IDVD and MS Office 2013-2016
                </p>


        <!--*************************-->
                 <br>
                <h4><p class="text-carlos">To see the programming projects and gallery events designed by Carlos Cardo just Login or Sign up in the web application </h4>

                 
        <!--*************************-->

                 
            </div>
            <hr>
            <br>
            <div class="col-lg-12">
                <h1 class="name-audiovisual">Audio Visual Skills</h1>
                
            </div>
        <!--*************************--> 

<!-- Projects Row -->
        <div class="row">
            <div class="col-md-6 portfolio-item">
                <a href="#">
                <img class="img-responsive img-circlecarlos" src="record.jpeg" alt="">
                </a>
                <h3>
                    <p class="name-video">Video Technician</p>
                </h3>
                <p class="text-justify text-carlos">Install & Operate video equipment using; SDI, VGA, HDMI, 
                Cat5 Extenders, RGB-HV, DVI Fiber, Distribution Amplifiers
                (DA), Video Switchers (Folsom Presentation Pro, Analog Way
                Pulse 300, Barco PDS-902, Hard Switchers, Blackmagic ATEM 
                Production Studio), Playback Pro, Projection Equipment(4:3 & 16:9
                 projectors 2k, 4k, 7k, 8k DLP, 10k, 20k DLP), LED Panel 
                Absen 3mm with Nova & Analog Way Tetra-VIO, 
                Recording over Aja Ki Pro, iMAG Video Cameras with 
                Panasonic AG-HPX370 /AG-HPX570, 
                Polycom Audio/Video Conference System.</p>
            </div>
            <div class="col-md-6 portfolio-item">
                <a href="#">
                    <img class="img-responsive img-circlecarlos" src="ql1.jpeg" alt="">
                </a>
                <h3>
                    <p class="name-audio">Audio Technician</p>
                </h3>
                <p class="text-justify text-carlos">Install & Operate sound equipment using; Digital Mixers (LS9-16/LS9-32, SoundCraft SI Series, Behringer X32), Digital Snakes or Stage Boxes, iPad Audio Control, Analog Mixers (Compressors, Graphic EQ - 31 bands, Analog Auto Mixers, Danish Interpretation System (DIS Microphones), Frequency Coordination of Wireless Microphone System (Shure UHF-R, ULX, ULX-D, Sennheiser EW100-EW135), Rigging and set-up of speaker systems VRX-932 and Line Array Vertec VT4887, Audio Recording with Marantz system.</p>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-6 portfolio-item">
                <a href="#">
                   <img class="img-responsive img-circlecarlos" src="domingo event2.jpeg" alt="">
                </a>
                <h3>
                    <p class="name-lighting">Lighting</p>
                </h3>
                <p class="text-justify text-carlos">Install & Operate lighting equipment using; Arri Compact HMI 575W Fresnel, ETC Leko, ETC LEDko, Coemar Up Lights, Coemar Battery Up-Lights, Dimmer Pack, SmartFade Console, DMX 3&5 Pin and Cat5 Wiring</p>
            </div>
            <div class="col-md-6 portfolio-item">
                <a href="#">
                    <img class="img-responsive img-circlecarlos" src="fortlauderdale.jpeg" alt="">
                </a>
                <h3>
                    <p class="name-setup">Setup</p>
                </h3>
                <p class="text-justify text-carlos">Ability to work in your show setup, with pipe and drape, hard set, banner, pieces and decoration</p>
            </div>
        </div>
        <!-- /.row -->

      
<hr>



        <!--*************************-->    
            
            <div class="col-lg-12">
                <h1>Education</h1>
                    <h3><p class="name-setup">Ironhack Coding school</p></h3>
                    <p>Web Development Bootcamp (COMPLETED)</p>
                    <p>RUBY, JS, HTML, Jquery, AJAX, CSS</p>
                    <h4><p>2016 (400+ Hrs)</p></h4> 

                    <h3><p class="name-setup">Bachelor of Science in Software Engineering</p></h3>
                    <p>(Pending Final Thesis)
                     Instituto Universitario de Tecnología (IUT- Dr. Federico Rivero Palacio) Caracas, Vzla<h4>2009-2011</h4></p>
                     <h3><p class="name-setup">Centro de Diseño Digital (CDD)</p></h3>
                     <p>Web Development Course Centro de Diseño Digital (CDD) - Caracas, Vzla 
                      HTML, Fireworks, Dreamweaver, Flash</p>
                      <p><h4>2008 (120 Hrs)</h4></p>
                     <h3><p class="name-setup">Internship<p></h3>
                     <p>Completed Software Development internship at ORIOMKA Corporation (PHP,HTML, Visual Basic 6.0)
                        <p><h4>2005 (10 week)</h4></p>
                     <h3><p class="name-setup">Associate Degree in Software Development</p></h3>
                        Instituto Universitario de Tecnología (IUT- Dr. Federico Rivero Palacio) Caracas, Vzla<h4>Awarded 2005 </h4></p>
                     
            </div>
        </div>

        

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Carlos Cardo 2016</p>
                </div>
            </div>
            <!-- /.row -->
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="app/assets/javascript/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <!--<script src="app/assets/javascript/bootstrap.min.js"></script>-->

    <!-- Script to Activate the Carousel -->
    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>

</body>

</html>
